@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect</title>
    <script>
        window.location.href = "https://localhost:44461/";
    </script>
</head>
<body>
</body>
</html>
